__pycache__/

root/data.json

# Sphinx setting
docs/*.pyc
docs/*.egg
docs/*.so
docs/*.swp

docs/dir-locals.el
docs/cache/
docs/idea
docs/mypy_cache/
docs/pytest_cache/
docs/ropeproject/
docs/TAGS
docs/tags
docs/tox/
docs/tx/
docs/venv/
docs/coverage
docs/htmlcov
docs/DS_Store
docs/sphinx/pycode/Grammar*pickle
docs/distribute-*

docs/env/
docs/build/
docs/dist/
docs/Sphinx.egg-info/
docs/doc/_build/
docs/doc/locale/
docs/tests/.coverage
docs/tests/build/
docs/utils/regression_test.js

docs/node_modules/